<div class="container">
        <ol class="post-list">
          {{#each posts as |post|}}
          <li class="my-2" style="list-style-type:none">
            {{> post-info post}}
          </li>
          {{/each}}
        </ol>
</div>